<div class="rounded-lg overflow-hidden relative group px-4 py-4">
  <img class="w-full block rounded-lg" src="/images/image-equilibrium.jpg" alt="image equilibrium">
  <div class="absolute left-0 top-0 h-full w-full hover:bg-opacity-50 bg-Cyan hidden group-hover:block">
    <img class="absolute top-1/2 left-1/2 w-12 transform -translate-x-1/2 -translate-y-1/2 bg-dark-blue-card opacity-50 rounded-lg" src="/images/icon-view.svg" alt="icon view">
  </div>
</div>