<div class="flex items-center pb-3 border-t-2 border-t-dark-blue-line">
  <img
    src="/images/image-avatar.png"
    alt="avatar image" 
    class="w-7 h-7 border rounded-full border-white mr-5 mt-3"
  >
  <p class="text-Soft-blue font-light mt-3">Creation of <a href="#" class="text-white no-underline font-semibold hover:text-Cyan">Jules Wyvern</a></p>
</div>