---
import CardBody from "../components/Card/CardBody.astro";
import CardHeader from "../components/Card/CardHeader.astro";

---
<div class="max-w-xs my-0 mx-auto">
  <div class="my-8 mx-4 rounded-lg shadow-sp bg-dark-blue-main">
    <CardHeader />
    <CardBody />
  </div>
</div>